.topbar{
display:sticky;

width:100%;
top:0px;
z-index:999;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper{
    margin:8px 30px;
    display:flex;
    }
    

.logo{
    flex:1;
    font-weight:bold;
    font-size:30px;
    color:darkblue;
    cursor: pointer;
    display:flex;
    align-items: center;
    }

.search-buttons-icons{
    margin-left:15px;
        flex:4;
        display:flex;
       justify-content: space-between;
align-items:center;
       
    }

    .box-menu-text{
        display:flex;
        align-items:center;
    }

   

.menu{
    box-shadow:inset 0 0 1.3rem #e0dde0;
    margin-right:10px;
    width:20px !important;
    height:20px !important;
    cursor:pointer;
}



button{
    box-shadow:inset 0 0 1.3rem #f30ef3 !important;
    cursor:pointer;
    margin-right: 100px !important;
}

.icons{
margin-right: 50px;
cursor:pointer;
}

.notification{
    box-shadow:inset 0 0 1.3rem #57f011;
}

.email{
    box-shadow:inset 0 0 1.3rem #2d3af8;
}

.apps{
    box-shadow:inset 0 0 1.3rem #f01f1f;
}